<div class="container fullContainer noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px  radius0  bgNoRepeat " style="padding-top: 0px; padding-bottom: 0px; outline: none; background-color: var(--blue);">
  <div class="containerInner ui-sortable">
    <div class="row bgCover noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding-top: 5px; padding-bottom: 5px; margin: 0px; outline: none;">
      <div class="col-md-12 innerContent col_left"  style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
          <div class="de elHeadlineWrapper ui-droppable de-editable"  style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <h1 class="ne elHeadline hsSize3 lh4 elMargin0 elBGStyle0  mfs_16" style="text-align: center; font-size: 22px; color: var(--white);">
            {{ data.headline }} | <b><u>[{{ event.date | date: "%A, %B %d" }} {{ event.date | date: "%H:%M%P" }} {{ event.timezone }}]</u></b>
           </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>