<div class="row bgCover noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding-top: 20px; padding-bottom: 20px; margin: 0px; outline: none;">
  <div class="col-md-12 innerContent " style="outline: none;">
    <div class="col-inner bgCover  noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
      <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
        <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  lh1 mfs_22" style="text-align: center; font-size: 30px; color: rgb(0, 0, 0);"><b>{{ data.context_setter }}</b>
        </div>
      </div>
      <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
        <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  lh1 mfs_40" style="text-align: center; font-size: 64px; color: var(--blue);"><b>{{ data.wiift }}</b>
        </div>
      </div>
    </div>
  </div>
</div>