<div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" style="width: 100%; outline: none; cursor: pointer;" aria-disabled="false">
  <img src="{{ data.image }}" class="elIMG ximg" alt="" data-lazy-loading="false" style="width: 100%;" tabindex="0">
</div>