<div class="container noTopMargin padding20-top padding20-bottom padding40H noBorder borderSolid border3px  radius0  bgNoRepeat  containerWithVisibleOverflow" style="padding-top: 20px; outline: none;">
  <div class="containerInner ui-sortable">
    <div class="row bgCover noBorder borderSolid border3px  P0-top P0-bottom P0H noTopMargin shadow10 radius20" style="padding-top: 20px; padding-bottom: 20px; margin: 0px auto; outline: none; background-color: var(--light-grey); width: 70%; max-width: 100%;">
      <div class="innerContent col_right ui-resizable col-md-4" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
          <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" style="margin-top: -50px; outline: none; cursor: pointer;" aria-disabled="false" data-hide-on="desktop">
            <img src="{{ data.image }}" class="elIMG ximg" alt="" data-lazy-loading="false" tabindex="0" width="220">
          </div>
          <div class="de elImageWrapper de-image-block elAlign_center elMargin0 ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer;" aria-disabled="false" data-hide-on="mobile">
            <img src="{{ data.image }}" class="elIMG ximg" alt="" data-lazy-loading="false" tabindex="0" width="220">
          </div>
        </div>
      </div>
      <div class="innerContent  ui-resizable col-md-8" style="outline: none;">
        <div class="col-inner bgCover  noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
          <div class="de elHeadlineWrapper ui-droppable de-editable" style="margin-top: 0px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  lh1 mfs_40" style="text-align: left; font-size: 32px; color: var(--dark-red);">
              <i class="fa_prepended fas fa-plus-circle" contenteditable="false"></i>{{ data.headline }}
            </div>
          </div>
          <div class="de elHeadlineWrapper ui-droppable de-editable"  style="margin-top: 5px; outline: none; cursor: pointer; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
            <div class="ne elHeadline hsSize2 elMargin0 elBGStyle0  deCapitalize lh4 mfs_22" style="text-align: left; font-size: 21px; color: rgb(0, 0, 0);">{{ data.text }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>