<div class="row bgCover noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding-top: 20px; padding-bottom: 20px; margin: 0px auto; outline: none; width: 85%; max-width: 100%;">
  <div class="col-md-12 innerContent " style="outline: none;">
    <div class="col-inner bgCover  noBorder borderSolid border3px  radius0  P0-top P0-bottom P0H noTopMargin" style="padding: 0 10px">
      <div class="de elBTN elAlign_center elMargin0 ui-droppable de-editable" style="margin-top: 15px; outline: none; cursor: pointer;" aria-disabled="false">
        <a  id="cta-button1" data-formkit-toggle="{{ data.form_toggle }}" href="{{ data.url }}" class="elButton elButtonSize1 elButtonColor1 elButtonRounded elButtonPadding2 elButtonCorner3 elButtonFluid elBtnHP_25 elBTN_b_1 elButtonTxtColor1 elButtonShadow5 elBtnVP_20 mfs_19" style="color: rgb(255, 255, 255); font-weight: 600; background-color: var(--blue); font-size: 24px;" rel="noopener noreferrer">
          <span class="elButtonMain">{{ data.text }}<i class="fa_appended fas fa-calculator" contenteditable="false"></i></span>
          <span class="elButtonSub"></span>
        </a>
      </div>
    </div>
  </div>
</div>