<div class="de elHeadlineWrapper ui-droppable de-editable"  style="margin-top: 0px; outline: none; cursor: pointer; display: block; font-family: Lato, Helvetica, sans-serif !important;" aria-disabled="false" data-google-font="Lato">
  {% if testimonial.video %}
    {% render "bridgetown_theme_single_page_opt_in/youtube_player" video: testimonial.video %}
  {% else %}  
    <div class="ne elHeadline hsSize2 lh3 elMargin0 elBGStyle0  mfs_16" style="text-align: left; font-size: 18px; color: rgb(0, 0, 0);" >{{ testimonial.text }}
      <div><br></div>
      <div>- {{ testimonial.name }}</div>
    </div>
  {% endif %}
</div>